@import "tailwindcss";

:root {
  --ss-blue: #2d62ff;
  --ss-blue-dark: #2d40ea;
  --ss-green: #8ceb4c;
  --ss-orange: #ff5d00;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #050508;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  margin: 0;
}
